In [58]:
import pyodbc
from pymongo import MongoClient
import json
from decimal import Decimal
from bson.decimal128 import Decimal128

In [59]:
nombre_servidor = "localhost\SQLEXPRESS"
base_datos = "FACTURACION"

conn_sql = pyodbc.connect('Driver={{SQL Server}};' 'Server={};''Database={};''Trusted_Connection=yes;'.format(
                          nombre_servidor,
                          base_datos))

In [63]:
cursor = conn_sql.cursor()
cursor.execute('SELECT * FROM CLIENTES')
 
conn_mongo = MongoClient('mongodb://localhost:27017')
db = conn_mongo.sqlFacturacion
collection = db.Clientes
 
for row in cursor:
    
    print(row)
    row2 = Decimal(row[2])
    num2 = Decimal128(str(row2))
    row3 = Decimal(row[3])
    num3 = Decimal128(str(row3))
    row6 = Decimal(row[6])
    num6 = Decimal128(str(row6))
    
    doc = {'nombre': row[0], 'apellido':row[1], 'IDCliente': num, 'RUC Empresa':num3,'direccion cliente':row[4],'email cliente':row[5],'telefono cliente':num6}
    collection.insert_one(doc)
    print("guardado exitosamente")

('Andres              ', 'alquinga            ', Decimal('14'), Decimal('11'), 'amaznoas                                          ', 'andres@hotmail                ', Decimal('215412'))
guardado exitosamente
('sonia               ', 'altamirano          ', Decimal('15'), Decimal('11'), 'rio coca                                          ', 'asd@hotmail.com               ', Decimal('322333'))
guardado exitosamente
('Teresa              ', 'Pozo                ', Decimal('16'), Decimal('11'), 'puembo                                            ', 'teresa@hotmail.com            ', Decimal('44444'))
guardado exitosamente
('Carlos              ', 'michelena           ', Decimal('17'), Decimal('11'), 'amazonas                                          ', 'carlos@hotmail.com            ', Decimal('55555'))
guardado exitosamente
('Tania               ', 'Calle               ', Decimal('18'), Decimal('11'), 'solanda                                           ', 'tania@hotmail.com             ', Decimal('66666'))
guardado exitosamente
('hernan              ', 'Bueno               ', Decimal('19'), Decimal('22'), 'solanda                                           ', 'hernan@hotmail.com            ', Decimal('77777'))
guardado exitosamente
('AMANDA              ', 'LOPEZ               ', Decimal('1727582782'), Decimal('1708102834'), 'LA TOLA                                           ', 'amal@hotmail.com              ', Decimal('925632584'))
guardado exitosamente
('FERNANDO            ', 'JIMENEZ             ', Decimal('1542598562'), Decimal('1708102834'), 'CHILLOGALLO                                       ', 'fer3@hotmail.com              ', Decimal('996523659'))
guardado exitosamente
('CARLA               ', 'SALAZAR             ', Decimal('1562548896'), Decimal('1708102834'), 'LLANO CHICO                                       ', 'carlas@gmail.com              ', Decimal('990145114'))
guardado exitosamente
('FRED                ', 'MEJIA               ', Decimal('1002315221'), Decimal('1708102834'), 'QUITUMBE                                          ', 'fredd@hotmail.com             ', Decimal('994562458'))
guardado exitosamente
('DANNY               ', 'GUERRERO            ', Decimal('1548759621'), Decimal('1708102834'), 'LA CAROLINA                                       ', 'danig@hotmail.com             ', Decimal('965218994'))
guardado exitosamente
('JENNY               ', 'TOVAR               ', Decimal('1002315551'), Decimal('1708102834'), 'GUAJALO                                           ', 'jeny@gmail.com                ', Decimal('998526355'))
guardado exitosamente
('STEVEN              ', 'CAMPOSANO           ', Decimal('1624581521'), Decimal('1708102834'), 'MONSERRATE                                        ', 'steve@hotmail.com             ', Decimal('913452185'))
guardado exitosamente
('LUIS                ', 'ARTEAGA             ', Decimal('1709987943'), Decimal('1708102834'), 'LA ROLDOS                                         ', 'luis@gmail.com                ', Decimal('992145632'))
guardado exitosamente
('ANDREA              ', 'LOPEZ               ', Decimal('1804000915'), Decimal('1708102834'), 'EL DORADO                                         ', 'andre@hotmail.com             ', Decimal('999289221'))
guardado exitosamente
('JUAN                ', 'PEREZ               ', Decimal('1741579548'), Decimal('1708102834'), 'SAN CARLOS                                        ', 'juan@gmail.com                ', Decimal('945215211'))
guardado exitosamente
('PEDRO               ', 'JIMENEZ             ', Decimal('184712350'), Decimal('1708102834'), 'EL CALZADO                                        ', 'pedro@hotmail.com             ', Decimal('974512365'))
guardado exitosamente
('JORGE               ', 'ZURITA              ', Decimal('214256978'), Decimal('1708102834'), 'EL GIRON                                          ', 'jorge@gmail.com               ', Decimal('991452321'))
guardado exitosamente
('SONIA               ', 'MELIZALDE           ', Decimal('1402694578'), Decimal('1708102834'), 'CUENCA                                            ', 'sonia@gmail.com               ', Decimal('971254578'))
guardado exitosamente
('MARITZA             ', 'ZAMBRANO            ', Decimal('1714586421'), Decimal('1708102834'), 'EL RECREO                                         ', 'mario@hotmail.com             ', Decimal('951241523'))
guardado exitosamente